<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.stylefeng.roses.kernel.city.modular.mapper.AreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.roses.kernel.city.modular.entity.Area">
        <id column="area_id" property="areaId"/>
        <result column="area_code" property="areaCode"/>
        <result column="area_name" property="areaName"/>
        <result column="parent_id" property="parentId"/>
        <result column="area_level" property="areaLevel"/>
        <result column="area_sort" property="areaSort"/>
        <result column="del_flag" property="delFlag"/>
        <result column="area_pids" property="areaPids"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>

    <resultMap id="customResultMap" type="cn.stylefeng.roses.kernel.city.modular.pojo.AreaVo" extends="BaseResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        area_id
        ,area_code,area_name,parent_id,area_level,area_sort,del_flag,area_pids,create_time,create_user,update_time,update_user
    </sql>


    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        sys_area
    </select>

    <select id="customFindList" resultMap="customResultMap">
        SELECT
        tbl.area_id,
        tbl.area_code,
        tbl.area_name,
        tbl.parent_id,
        tbl.area_level,
        tbl.area_sort,
        tbl.del_flag,
        tbl.area_pids,
        tbl.create_time,
        tbl.create_user,
        tbl.update_time,
        tbl.update_user

        FROM
        sys_area tbl
        WHERE tbl.del_flag = 'N'
        <if test="param.areaId != null ">
            and tbl.area_id = #{param.areaId}
        </if>
        <if test="param.areaCode != null and param.areaCode != ''">
            and tbl.area_code like concat('%',#{param.areaCode},'%')
        </if>
        <if test="param.areaName != null and param.areaName != ''">
            and tbl.area_name like concat('%',#{param.areaName},'%')
        </if>
        <if test="param.parentId != null and param.parentId != ''">
            and tbl.parent_id like concat('%',#{param.parentId},'%')
        </if>
        <if test="param.areaLevel != null ">
            and tbl.area_level = #{param.areaLevel}
        </if>
        <if test="param.areaSort != null ">
            and tbl.area_sort = #{param.areaSort}
        </if>
        <if test="param.delFlag != null and param.delFlag != ''">
            and tbl.del_flag like concat('%',#{param.delFlag},'%')
        </if>
        <if test="param.areaPids != null and param.areaPids != ''">
            and tbl.area_pids like concat('%',#{param.areaPids},'%')
        </if>
        <if test="param.createTime != null ">
            and tbl.create_time = #{param.createTime}
        </if>
        <if test="param.createUser != null ">
            and tbl.create_user = #{param.createUser}
        </if>
        <if test="param.updateTime != null ">
            and tbl.update_time = #{param.updateTime}
        </if>
        <if test="param.updateUser != null ">
            and tbl.update_user = #{param.updateUser}
        </if>

    </select>


</mapper>

